.BarChart {
    height: 48%;
    background-color: #FBFBFB;
    border-radius: 5px;
    position: relative;
}

.bar-chart-title {
    position: absolute;
    top: 15px;
    left: 30px;
    color: #20253A;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto';
}

.bar-chart-legend {
    width: 300px;
    justify-content: space-between;
    display: flex;
    position: absolute;
    top: 15px;
    right: 50px;
    color: #74798C;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto';
}

.custom-tooltip-bar-chart {
    background-color: #E60000;
    color: #FBFBFB;
    padding: 3px;
    border: 0;
}

.bullet-point {
    font-size: 40px;
}

.tooltip-text {
    display: flex;
    align-items: center;
}